/* PHP Acme Site Styling v2 */

/*****BODY STYLING****/
html {
    background-image: url('/acme/images/site/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    width: 97%;
    margin: 0 auto;
    font-family: Comic Sans MS;
    font-weight: bold;
    padding-right:1%;
}

#container-body {
    background-color: #ffffff;
}

/*HEADER STYLING*/
header {
    display: flex;
}

#top-bar {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

#logo-container {
    width: 50%;
    height: 75px;
    background-color: limegreen;
}

#account-container {
    width: 50%;
    height: 75px;
    background-color: aquamarine;
    margin-left: 425px;
    margin-top: -75px;
}

.main-logo {
    height: 90%;
    margin: 5px;
}


.account-box {
    height: 15px;
    margin: 5px;
}

/*****NAV STYLING*****/
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #af2d2d;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 5px;
}

nav a:hover {
    background-color: #ffffff;
    color: #af2d2d;
}

nav a {
    text-decoration: none;
    font-size: 14pt;
}


/*****MAIN STYLING*****/
h1 {
    font-size: 54px;
    margin: 10px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    margin: 8px;
}

#hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.hero-banner {
    width: 100%;
    height: 100%;
}

.hero-image {
    width: 99%;
    background-size: 100%;
    position: relative;
    margin: 5px;
}

.hero-text {
    color: #af2d2d;
    width: 50%;
    padding: 1%;
}

.hero-text h2 {
    /*width: 100%;*/
    background-color: yellowgreen;
}

.hero-text ul {
    list-style-type: none;
    text-align: left;
    flex-wrap: wrap;
    padding: 1%;
    background-color: violet;
}

.hero-text ul li {
    font-size: 20px;
 }

section {
    display: flex;
    width: 100%;
}

.flex-recipe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.flex-recipe img{
    width: 25%;
}

.gridImage{
    width: 50%;
    text-align: center;
    border: .2px;
}



/*****FOOTER STYLING******/
footer {
    text-align: center;
}

#subnav ul {
    border-top: 3px solid #000000;
    list-style-type: none;
    margin: 3px;
    padding: 0;
    overflow: hidden;
}

#subnav li {
    float: left;
    text-align: center;
}

#subnav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#subnav li a:hover {
    background-color: #111;
    padding: 3px 14px 16px;
}


/*****MEDIA QUERIES*****/
/*LARGE SCREEN*/
/*@media screen and (min-width: 1200px)*/
@media screen and (max-width: 37.5em) {
    /*container {
        width: 100%;
    }*/
    #account-container {
        margin-left: 325px;
        margin-top: -75px;
    }
    h2 {
        width: 100%;
        float: left;
        font-size: 40px;
    }
    .hero-text {
        width: 50%;
        float: left;
        position: absolute;
        font-size: 30px;
        bottom: 10%;
    }
    #actionbtn {
        width: 60%;
    }
    section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #featured-recipies{
        width: 100%;
    }
    #rocket-reviews{
        width: 50%;
    }
}

/*SMALL SCREEN*/
/*@media screen and (min-width: 550px)*/
@media screen and (max-width: 350px) {
    /*#container-body {
        width: 100%;
    }*/
    #account-container {
        margin-left: 125px;
        margin-top: -75px;
    }
    .hero-banner {
        width: 100%
    }
    hero-text ul li {
        font-size: 20px;
        width: 100%;
        margin-left: 20px;
    }
    h2 {
        padding: 0px 20px;
    }
    #actionbtn {
        width: 80%;
    }
    section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #featured-recipies{
        width: 40%;
    }
    #rocket-reviews{
        width: 60%;
    }
    /*.account {
        margin-left: 500px;
        position: relative;
    }*/
}