/* Acme Site Styling v2 */

/*****BODY STYLING****/ 
html {
    background-image: url('/acme/images/site/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    width: 84%;
    margin: 0 auto;
    font-family: Comic Sans MS;
    font-weight: bold;
}

#container {
    background-color: #ffffff;
}

h1 {
    font-size: 54px;
}

h3 {
    font-size: 30px;
}

#logo {
    height: 75px;
}

.account {
    height: 15px;
    position: relative;
}


/*****NAV STYLING*****/ 
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #af2d2d;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff;
    color: #af2d2d;
}

nav a {

    text-decoration: none;
    font-size: 14pt;
}


/*****MAIN STYLING*****/
#hero-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero-image {
    width: 100%;
    background-size: 100%;
    position: relative;
}

/*.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}*/

section {
    display: flex;
    width: 100%;
}

.flex-recipe{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

.flex-recipe img{
    width: 25%;
}

.gridImage{
    width: 50%;
}

#heroheader {
    padding: 0px 40px;
    width: 100%;
    float: left;
}

.hero-text {
    color: #af2d2d;
    position: absolute;
    top: 30%;
}

.hero-text ul {
    list-style-type: none;
    text-align: left;
}

#featured {
    min-width: 1200px;
}

#flexreviewsrecipes {
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#frecipes {
    display: inherit;
    max-width: 40%;
    justify-content: flex-end;
}

#frecipes2 {
    display: inherit;
    max-width: 40%;
}

#reviews {
    max-width: 60%;
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#subnav ul {
    border-top: 3px solid #000000;
    list-style-type: none;
    margin: 3px;
    padding: 0;
    overflow: hidden;
}

#subnav li {
    float: left;
    text-align: center;
}

#subnav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#subnav li a:hover {
    background-color: #111;
    padding: 3px 14px 16px;
}


/*****FOOTER STYLING******/
footer {
    text-align: center;
}


/*****MEDIA QUERIES*****/
/*LARGE SCREEN*/
@media screen and (min-width: 1200px) {
    container {
        width: 100%;
    }
    h2 {
        width: 100%;
        float: left;
        font-size: 40px;
    }
    .hero-text {
        width: 50%;
        float: left;
        position: absolute;
        font-size: 30px;
        bottom: 10%;
    }
    #actionbtn {
        width: 100%;
    }
    section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #featured-recipies{
        width: 100%;
    }
    #rocket-reviews{
        width: 100%;
    }
    .account {
        margin-left: 800px;
        }
}

/*SMALL SCREEN*/
@media screen and (min-width: 550px) {
    container {
        width: 100%;
    }
    .hero-text {
        width: 50%;
        float: left;
    }
    h2 {
        padding: 0px 20px;
    }
    #actionbtn {
        width: 50%;
    }
    .hero-banner {
        width: 100%
    }
    section{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #featured-recipies{
        width: 100%;
    }
    #rocket-reviews{
        width: 100%;
    }
    .account {
        margin-left: 100px;
    }
}